/** FONTS **/
@font-face {
  font-family: "casloncpnormal";
  src: url("./fonts/casloncp-webfont.woff2") format("woff2"),
    url("./fonts/casloncp-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lumiera_handwritingregular";
  src: url("./fonts/lumierahandwriting-webfont.woff2") format("woff2"),
    url("./fonts/lumierahandwriting-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lumieraregular";
  src: url("./fonts/lumiera-webfont.woff2") format("woff2"),
    url("./fonts/lumiera-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Regular.woff2') format('woff2'),
      url('./fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Italic.woff2') format('woff2'),
      url('./fonts/Lora-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-BoldItalic.woff2') format('woff2'),
      url('./fonts/Lora-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Bold.woff2') format('woff2'),
      url('./fonts/Lora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'poppinslight_italic';
  src: url('./fonts/poppins-lightitalic-webfont.woff2') format('woff2'),
       url('./fonts/poppins-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'poppinsitalic';
  src: url('./fonts/poppins-italic-webfont.woff2') format('woff2'),
       url('./fonts/poppins-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinslight';
  src: url('./fonts/poppins-light-webfont.woff2') format('woff2'),
       url('./fonts/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinsregular';
  src: url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('./fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinsbold';
  src: url('./fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('./fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'poppinsbold_italic';
  src: url('./fonts/poppins-bolditalic-webfont.woff2') format('woff2'),
       url('./fonts/poppins-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




/** GENERAL **/
html,
body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
  /* overflow: hidden; */
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth !important;
  cursor: default;
}
.sections
{}
*:focus {
  outline: none;
}
h3 {
  font-family: "Lora";
  /* font-weight: normal; */
  color: #3B4862;
  font-size: 2em;
}
h2 {
  font-family: "lumiera_handwritingregular";
  font-weight: lighter;
  color: #2b2b2b;
  font-size: 4.7vw;
}
h4 {
  font-family: 'Lora';
  color: #3B4862;
  font-size: 1.5vw;
}
h5 {
  font-family: 'Lora';
  color: #3B4862;
  font-size: 1.2vw;
}
h1 {
  font-family: "lumiera_handwritingregular";
  font-weight: lighter;
  font-size: 5.5vw;
}
a {
  text-decoration: none;
  color: #3B4862;
}
a:hover {
  color: #599a9f;
  transition: 0.5s ease;
  text-decoration: none;
}
.overlay-text {
  position: absolute;
  z-index: 10;
  display: show;
}
img {
  max-width: 100%;
}
button:focus {
  outline: 0;
}
button {
  text-decoration: none;
  border: none;
  background: none;
  margin-top: 1vw;
  padding: 0;
  cursor: pointer;
}

/** NAVIGATION **/
.mynavbar 
{
  height: 9vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #3B4862;
  overflow: hidden;
  align-items: center;
  position: fixed;
  z-index: 100;
  justify-content: space-between;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}
.nav-option
{
  color: white;
  font-size: 2.2vh;
  font-weight: normal;
}
.nav-option:hover {
  cursor: pointer;
}
.secret img {
  cursor: pointer;
}
.secret td {
  padding: 0.7vw;
}
.secret h1 {
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
}
.secret h1:hover {
  cursor: pointer;
  color: #3B4862;
}
#portrait-small
{
  width: 6vh;
}


/** SECTIONING **/
.sections {
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: block;
}
.whole-container {
  position: relative;
  max-height: 60vw;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
  vertical-align: bottom;
}

.call-to-action {
  z-index: 10;
  margin-top: 0;
  position: relative;
}
.down-arrow,
.up-arrow {
  right: 4vw;
  display: block;
  width: 4vw;
  margin: 0 auto;
  margin-top: 5vw;
  bottom: 2.5vw;
  position: absolute;
  z-index: 20;
  /*	padding: 0.9vw;
	border-radius: 50%;
	border: 0.2em solid #3B4862;
	vertical-align: center;*/
}
.up-arrow:hover,
.down-arrow:hover img {
  opacity: 0.5;
  transition: 0.5s ease;
}
.up-arrow {
  transform: rotate(180deg);
  bottom: 6vw;
}
.view-projects-button
{
  border: 1px solid #3B4862;
  background-color: rgba(255, 255, 255, 0.567);
  padding: 0.5vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  text-align: center;
  display: flex;
  position: relative;
  z-index: 10;
  margin-top: 1vw;
  align-items: center;
}
.view-projects-button:hover
{
  background-color: rgba(255, 255, 255, 1);
  transition: 0.5s ease-in-out;
}
.view-projects-button h4:hover
{
  color: black;
}
.title-container
{
  margin-top: 20vw;
  margin-left: 6.6vw;
  top: 10vw;
  width: 28vw;
}

/** BOUNCE **/
.down-arrow-bounce {
  right: 0;
  left: 0;
  display: block;
  width: 10vw;
  margin: 0 auto;
  margin-top: 5vw;
  bottom: 3vw;
  position: absolute;
  z-index: 20;
}
.bounce {
  transition: 1s ease;
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.fill-whole-section {
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  z-index: 5;
  height: auto;
  position: absolute;
  display: inline-block;
  height: 96%;
  width: 96%;
}
#hello-graphic {
  position: relative;
  top: 16vw;
  left: 19vw;
  width: 32vw;
  z-index: 10;
}
.pink-circle {
  border-radius: 50%;
  background-color: #f4d6cb;
  background-size: 100%;
  width: 33vw;
  height: 33vw;
  overflow: hidden;
  position: relative;
  top: 12vw;
  float: right;
  right: 18vw;
}

.rebecca {
  border-radius: 50%;
  background-image: url("portrait-vector.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-attachment: relative;
  object-fit: scale-down;
  width: 33vw;
  height: 33vw;
  position: fixed;
  z-index: 5;
}
#binary-rain {
  position: absolute;
  top: 10vw;
  right: 18.75vw;
  background-color: #ecdcd8;
  width: 42.9vw;
  height: 40vw;
  padding: 0.5em;
  border: 1px solid #3B4862;
  z-index: 1;
}
#laptop-container {
  position: absolute;
  top: 22.17vw;
  right: 18.3vw;
  width: 43.2vw;
  height: 35vw;
  padding: 0.5em;
  z-index: 10;
  display:flex;
  overflow: hidden;
  opacity: 1;
  align-items: flex-end;
}
.whole-container:last-child {
  min-height: 100vh;
  max-height: 150vh;
}
#cs-sect {
  background-color: #ecdcd8;
}
#cs-text {
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 6vw;
  top: 10vw;
  position: relative;
  width: 30vw;
}
#baker-text {
  position: relative;
  top: 10vw;
  left: 10vw;
  width: 35vw;
  z-index: 10;
}
#design-text {
  position: relative;
  margin: 0 auto;
  width: 35vw;
  z-index: 10;
}
#bake-sect {
  background-color: #ecdcd8;
  background-image: url("../graphics/kitchen-04.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-size: 94% 96%;
  background-attachment: relative;
  object-fit: scale-down;
}
#graphic-design-sect {
  background-image: url("../graphics/graphic-design-background-05.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: relative;
  /* object-fit: scale-down; */
}
#bake-call {
  bottom: 7vw;
  left: 49.5vw;
  position: absolute;
}
#design-call {
  top: 33vw;
  left: 23vw;
}
.arrow-slide {
  position: relative;
  height: 1vw;
  vertical-align: center;
  transition: 0.75s ease;
  animation: 3s ease-in-out 0s infinite arrowSlide;
}
@keyframes arrowSlide {
  0%,
  50% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0.5em);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes arrowSlide {
  0%,
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  80% {
    -webkit-transform: translateX(0.5em);
    transform: translateX(0.5em);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
#subsection-get-started {
  top: 20vw;
  position: absolute;
  left: 20vw;
  text-align: right;
}
#icons {
  padding: 0;
  margin: 0;
  float: right;
}
#icons td {
  padding: 0.4vw;
}
#icons img {
  height: 3vw;
}
#icons img:hover {
  opacity: 0.7;
  transition: 0.5s ease;
}
#back-to-top {
  width: 4vw;
  position: absolute;
  bottom: 2vw;
  right: 5vw;
  text-align: center;
}
.caption {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 3em;
}
.designs img {
  margin-top: 2em;
  margin-bottom: 2em;
}
.mt-heavy {
  margin-top: 10em;
}

@media only screen and (max-width: 600px) {
  #name
  {
    display:none;
    color: black;
  }
  h1
  {
    font-size: 2em;
  }
  .mynavbar
  {
    height: 8vw;
  }
  #portrait-small
  {
    width: 5.5vw;
  }
}
