/** FONTS **/
@font-face {
  font-family: "casloncpnormal";
  src: url("./fonts/casloncp-webfont.woff2") format("woff2"),
    url("./fonts/casloncp-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lumiera_handwritingregular";
  src: url("./fonts/lumierahandwriting-webfont.woff2") format("woff2"),
    url("./fonts/lumierahandwriting-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lumieraregular";
  src: url("./fonts/lumiera-webfont.woff2") format("woff2"),
    url("./fonts/lumiera-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/** GENERAL **/
html,
body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  cursor: default;
}
*:focus {
  outline: none;
}
h3 {
  font-family: "lumieraregular";
  font-weight: lighter;
  color: #2f5154;
  font-size: 2vw;
}
h2 {
  font-family: "lumieraregular";
  font-weight: lighter;
  color: #2b2b2b;
  font-size: 2.5vw;
}
h4 {
  font-family: "lumieraregular";
  font-weight: lighter;
  color: #2f5154;
  font-size: 1.5vw;
}
h5 {
  font-family: "lumiera_handwritingregular";
  font-weight: lighter;
  font-size: 2vw;
  margin-top: 1.5vw;
}
h1 {
  font-family: "lumiera_handwritingregular";
  font-weight: lighter;
  font-size: 5.5vw;
}
a {
  text-decoration: none;
  color: #2f5154;
}
a:hover {
  color: #599a9f;
  transition: 0.5s ease;
}
.overlay-text {
  position: absolute;
  z-index: 10;
  transition: 0.5s ease;
  display: show;
}
img {
  max-width: 100%;
}
button:focus {
  outline: 0;
}
button {
  text-decoration: none;
  border: none;
  background: none;
  margin-top: 1vw;
  padding: 0;
  cursor: pointer;
}

/** NAVIGATION **/
.navbar {
  display: none;
  top: 0;
  height: 100vh;
  max-height: 60vw;
  width: 100%;
  text-align: center;
  background-color: #f4d6cb;
  position: fixed;
  z-index: 50;
  overflow: hidden;
}
#navbar-button {
  position: fixed;
  top: 2.5vh;
  left: 2.5vh;
  z-index: 100;
  width: 8vh;
}
.navbar-container h2 {
  font-size: 4vw;
}
#navbar-button,
#navbar-x {
  transition: 0.5s ease;
}
#navbar-button:hover,
#navbar-x:hover {
  opacity: 0.5;
  cursor: pointer;
}
.navbar-container {
  padding: 10vw;
  object-position: center;
}
#navbar-x {
  position: absolute;
  width: 2vw;
  top: 2vw;
  right: 2vw;
}

/** SECTIONING **/
.sections {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: block;
}
.whole-container {
  position: relative;
  max-height: 60vw;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
  vertical-align: bottom;
}

.call-to-action {
  z-index: 10;
  margin-top: 0;
  position: relative;
}
.carousel-container {
  width: 100%;
  height: 100vh;
  max-height: 60vw;
  /*	overflow: hidden;*/
  z-index: 100;
}
.down-arrow,
.up-arrow {
  right: 3vw;
  display: block;
  width: 4vw;
  margin: 0 auto;
  margin-top: 5vw;
  bottom: 2.5vw;
  position: absolute;
  z-index: 20;
  /*	padding: 0.9vw;
	border-radius: 50%;
	border: 0.2em solid #2f5154;
	vertical-align: center;*/
}
.up-arrow:hover,
.down-arrow:hover img {
  opacity: 0.5;
  transition: 0.5s ease;
}
.up-arrow {
  transform: rotate(180deg);
  bottom: 6vw;
}
/** BOUNCE **/
.down-arrow-bounce {
  right: 0;
  left: 0;
  display: block;
  width: 10vw;
  margin: 0 auto;
  margin-top: 5vw;
  bottom: 3vw;
  position: absolute;
  z-index: 20;
}
.bounce {
  transition: 1s ease;
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.fill-whole-section {
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  z-index: 5;
  height: auto;
  position: absolute;
  display: inline-block;
  height: 96%;
  width: 96%;
}
#hello-graphic {
  position: relative;
  top: 9vw;
  left: 15vw;
  width: 40vw;
  z-index: 10;
}
.pink-circle {
  border-radius: 50%;
  background-color: #f4d6cb;
  background-size: 100%;
  width: 36vw;
  height: 36vw;
  overflow: hidden;
  position: relative;
  top: 10vw;
  float: right;
  right: 15vw;
}

.rebecca {
  border-radius: 50%;
  background-image: url("./portrait-vector.png");

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-attachment: relative;
  object-fit: scale-down;
  width: 36vw;
  height: 36vw;
  position: fixed;
  z-index: 5;
}
#binary-rain {
  position: absolute;
  top: 8vw;
  right: 20vw;
  background-color: #3b4c66;
  width: 43vw;
  height: 35vw;
}
#cs-sect {
  background-color: #ecdcd8;
}
#cs-text {
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 6vw;
  top: 10vw;
  position: relative;
  width: 30vw;
}
#baker-text {
  position: relative;
  top: 10vw;
  left: 10vw;
  width: 35vw;
  z-index: 10;
}
#design-text {
  position: relative;
  top: 8vw;
  left: 20vw;
  width: 35vw;
  z-index: 10;
}
#bake-sect {
  background-color: #ecdcd8;
  background-image: url("../graphics/kitchen-04.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 94% 96%;
  background-attachment: relative;
  object-fit: scale-down;
}
#graphic-design-sect {
  background-image: url("../graphics/graphics.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-attachment: relative;
  object-fit: scale-down;
}
#bake-call {
  bottom: 7vw;
  left: 49.5vw;
  position: absolute;
}
#design-call {
  top: 33vw;
  left: 23vw;
}
.arrow-slide {
  position: relative;
  margin-top: 0.8vw;
  height: 1vw;
  vertical-align: center;
  transition: 0.75s ease;
  animation: 3s ease-in-out 0s infinite arrowSlide;
  /* animation-name: arrowSlide;
  animation-delay: 2s;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  -webkit-animation-name: arrowSlide;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s; */
}
@keyframes arrowSlide {
  0%,
  50% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0.5em);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes arrowSlide {
  0%,
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  80% {
    -webkit-transform: translateX(0.5em);
    transform: translateX(0.5em);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
#subsection-get-started {
  top: 20vw;
  position: absolute;
  left: 20vw;
  text-align: right;
}
#icons {
  padding: 0;
  margin: 0;
  float: right;
}
#icons td {
  padding: 0.4vw;
}
#icons img {
  height: 3vw;
}
#icons img:hover {
  opacity: 0.7;
  transition: 0.5s ease;
}
#back-to-top {
  width: 4vw;
  position: absolute;
  bottom: 2vw;
  right: 5vw;
  text-align: center;
}
