.header {
	position: absolute;
	top: 2vw;
	right: 2vw;
	display: inline;
	padding: 0;
}
.secret td {
	padding: 1vw;
}
.secret h1 {
	transition: 0.5s ease;
}
.secret h1:hover {
	cursor: pointer;
	color: #2f5154;
}

/** SLIDESHOW **/
.crop {
	width: 26vw; /* width of container */
    height: 26vw; /* height of container */
    object-fit: cover;
}
.frame td, tr{
	vertical-align: center;
	white-space: nowrap;
	display: inline-block;
/*	overflow: hidden;*/
}
.frame td:first-child {
	margin-left: 3vw;
}
.frame td {
	padding: 1vw;
	border: 1px solid #68483c;
	margin-right: 3vw;
	width: 25vw;
}
.frame {
/*	width: 100%;*/
/*	border: 1px solid black;*/
	border-collapse: separate;
	table-layout: fixed;
	height: 100%;
	transition: 0.5s ease;
	float: right;
}
.frame img {
	transition: 0.5s ease;
}
.frame tr:last-child td {
	height: 3vw;
	border-top: none;
}
.frame img:hover {
	cursor: pointer;
	opacity: 0.7;
}
.overlay td:first-child {
	margin-left: 3vw;
}
.overlay {
	position: absolute;
/*	border: 2px solid black;*/
	font-family: 'lumiera_handwritingregular';
	font-weight: lighter;
	font-size: 3.75vw;
	bottom: 16vw;
	text-align: center;
	border-collapse: collapse;
	transition: 1s ease;
}
.overlay td {
/*	border: 2px solid black;*/
	margin-right: 3vw;
	width: 26.25vw;
	display: inline-block;
	transition: 0.5s ease;
}
.overlay td:hover {
	color: #2f5154;
}
.portfolio-slideshow {
	width: 100%;
	height: 50vw;
	position: relative;
	top: 12vw;
/*	display: flex;
	flex-direction: row;*/
	transition: 1s ease;
    align-items: center; 
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}